{% extends "corpus_base.html" %}

{% block title %} Cookies not Enabled {% endblock %}

{% block header %}
<h1>Cookies not Enabled</h1>
{% endblock %}

{% block body %}
<p>We've detected that your browser does not have cookies enabled. You will need to enable cookies in order to use this application. Don't worry, we only use cookies to be able to identify which results page to give you. We do not use cookies to track your web browsing behavior in any way. Please enable cookies and then <a href="/corpus/">try again</a>.</p>

{% endblock %}
